* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:#f1f1f1;
}


h1{
    
    font-family: forma-djr-display, sans-serif;
font-weight: 700;
font-style: normal;
color: #222222;
}

h2{
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    color: #222222;
}

h3{
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    color: #222222;
}

h4{
    font-family: forma-djr-display, sans-serif;
font-weight: 400;
font-style: normal;
font-size:25px;
color: #222222;
}

header{
    position: fixed;
    min-height: 80px;
    width: 100%;
    z-index: 5;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

footer{
 min-height:80px;
 z-index:5;
 display: flex;
 bottom:0;
 width:100%;
 gap:1rem;
 justify-content: center;
 background-color:#222222;
}

footer h3{
    color:#f1f1f1;
}


.desktop-header{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    filter: drop-shadow(1px 0px 1px #f1f1f1);
}

.desktop-header ul{
    display: flex;
    list-style: none;
    gap: 1.2rem;
    padding: 0.8rem;
    margin-top:15px;
    
}

.desktop-header ul li a{
    color:black;
    text-decoration: none;

}

.desktop-header ul li a h4{
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease-in-out;
}

.desktop-header ul li a h4:hover {
    border-bottom: 2px solid black;
}

.desktop-header{
    display:none;
}

.desktop-header-branding{
    display:flex;
    align-items:center;
    margin-left:10px;
    margin-top:20px;
    filter: drop-shadow(1px 0.5px 0px #bbbbbb);
}

.desktop-header-branding a{
    text-decoration:none;
}

.desktop-header-icon{
    width:75px;
}

.desktop-header-name{
    font-family: rig-shaded-bold-face, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:20px;
    color:#ffba08;
}

@media screen and (min-width: 768px) {
    .desktop-header {
        display: block;
    }
}

.close-mobile-menu {
    cursor: pointer;
    z-index: 2000;

}

.burger-icon {
    cursor: pointer;
    z-index: 2000;
    width: 1.6rem;
    height: 1.6rem;
    margin: 1.1rem;
    padding-right: 3rem;
}

.burger {
    margin-top:38px;
    background-image: url('../assets/burger.svg');
    background-repeat: no-repeat;
}


.closemobilemenu {
    margin-top:40px;
    background-image: url('../assets/closemenu.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

@media screen and (min-width: 768px)  {
    .burger-icon {
        display: none;
    }
}

.logo {
    padding: 0.8rem;
}

.mobile-nav {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color:#f1f1f1;
    text-align:center;
    padding: 2rem;
    animation-name: slideIn;
    animation-duration: 0.3s;
    z-index: 10;
}

.mobile-nav-hide {
    display: none;
}

.mobile-nav ul {
    list-style: none;
}

.mobile-nav ul li a {
    color: #000;
    text-decoration: none;
}

.mobile-nav ul li a h4{
    font-size: 3rem;
    padding:2vh;
}

@keyframes slideIn {
    from {
        transform: translate(100vw);
    }

    to {
        transform: translate(0px);
    }
}

.hero-cover{

    padding-top:200px;
    display:flex;
    justify-content: center;
    text-align:left;
}

.hero-content{
    max-width:1500px;
    line-height:3.5rem;
}

.hero-Bigtxt{
    font-size:90px;
}

.hero-Midtxt{
    font-size:35px;
}

.hero-aboutme{
    padding-top:20px;
    float:right;
}

.hero-aboutme a{
    color:#1a1a1a;   
    text-decoration:none; 
}

.hero-aboutme a h2{
    border-bottom: 3px solid transparent;
    transition: border 0.2s ease-in-out;
}

.hero-aboutme a h2:hover {
    border-bottom: 3px solid black;
}


.myWork-home-container{
    margin:50px 0px;
}


.myWork-title{
    margin: 2rem auto;
    padding:0px 50px;
    display: flex;
    max-width:1500px;
}

.myWork-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 50px auto;
}

.myWork{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 50px auto;
}

.myWork-home-project{
    width:350px;
    padding:1em;
    filter: drop-shadow(3px 3px 3px #bbbbbb);
}

.basic-image{
    width:100%;
}

.work-cover{
    width:100%;

}

.myWork-seemore{
    display:flex;
    justify-content: flex-end;
    padding-right:2vw;
    max-width:1000px;
    margin:0 auto;
}

.myWork-seemore a{
    color:#1a1a1a;   
    /*text-decoration:none;*/ 
}

.home-contact{
    margin:0px auto;
    padding:50px 100px;
    background-color:#222222;
}

.home-contact-title h2{
    color: #f1f1f1;
}

.home-contact h4{
    color:#f1f1f1;
}
.home-contact ul li{
    list-style-type:none;
}

.home-contact ul li a{
    color:#f1f1f1;
}





@media screen and (min-width: 768px) {
    .mobile-header {
        display: block;
    }

    h2{
        font-size:40px;
    }

    .hero-Bigtxt{
        font-size:90px;
    }
    
    .hero-Midtxt{
        font-size:45px;
    }

    .myWork-home-project{
        width:350px;
        padding:1em;
        filter: drop-shadow(3px 3px 3px #bbbbbb);
    }



}